<div action="javascript:void(0)">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input isbn-input-box" type="text" id="isbn-input-box" name="isbn">
        <label class="mdl-textfield__label" for="isbn-input-box">ISBN...</label>
    </div>
</div>