<footer class="mdl-mini-footer">
    <p>Copyright &copy; 2015-2016 <a href="/">isbn.itfengzi.com</a> & <a href="http://www.dullong.com"
                                                                         target="_blank">www.dullong.com</a></p>

</footer>