<!DOCTYPE html>
<html>
<head>
    <title>ISBN search</title>
    <% include ../partials/meta.ejs %>
    <link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
    <link rel="stylesheet" href="http://fonts.lug.ustc.edu.cn/icon?family=Material+Icons">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <% include ../partials/site-header.ejs %>
    <main class="mdl-layout__content" style="text-align: center;margin-top: 100px">
        <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone"
             id="features">

            <% include ../partials/search-box.ejs %>

            <div class="mdl-card__supporting-text">
                <h4>ISBN Search</h4>

                <p>
                    Using an ISBN is the most accurate and reliable way to search for a book. Use our search engine to
                    find book information and the best prices for books.
                </p>

                <p>
                    最准确的找到一本图书是使用ISBN号码。本搜索引擎可以快速找到图书的详细信息。
                </p>
            </div>

            <div id="sample">
                <a href="/isbn/9780136019701"> <img src="http://www.isbnsearch.org/images/sample-isbn.png" alt="Sample ISBN"/>
                </a>
                <p>Typical location of an ISBN on the back of a book.</p>

                <p>ISBN编号一般可以从图书的后封面找到。</p>
            </div>


        </div>

        <% include ../partials/site-footer.ejs %>
    </main>
</div>


<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/material-design-lite/material.min.js"></script>
<script src="/js/common.js"></script>
</body>
</html>